<div class="container mt-5 bg-dark p-4 shadow-lg w-75">
    <div class="row bg-warning fs-1">
        <p class="text-center">OOps!</p>
        <p class="text-center">Something went wrong</p>
    </div>
    <div class="row bg-warning p-4">
        <div class="col-9">
            <button (click)="getUser()" class="btn btn-danger btn-lg">Continue Shopping</button>
        </div>
        <div class="col-3">
            <button (click)="getUser()" class="btn btn-danger btn-lg">Try again</button>
        </div>
    </div>
</div>

