<div class="container-fluid mt-3">
    <div class="clearfix">
        <div class="float-end">
            <input
              type="text"
              class="text"
              name="txtsrch"
              placeholder="Search items here..."
              [(ngModel)]="textSearch"
            />
        </div>
    </div>
    <div class="row mb-0 mt-4">
        <div class="card ms-1 mt-1" style="width: 18rem;" *ngFor="let item of items | filter: textSearch">
            <!-- <img [src]="item.image" class="card-img-top w-75 img-thumbnail" alt="..."> -->
            <img [src]="item.image" alt="{{item.itemName}}">
            <div class="card-body">
                <h5 class="card-title text-center">{{item.itemName}}</h5>
                <p class="card-text text-center">Available Quantity : {{item.availableQty}}</p>
                <div class="text-center">

                    <button id="{{item.id}}" class="btn btn-warning" (click)="addToCart($event)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
