<div class="container mt-3">
    <nav class="nav-bar">
        <div class="clearfix">
            <ul>
                <li class="float-start" routerLinkActive="active">
                    <a href="">FoodBox</a>
                </li>
                <li class="float-start" routerLinkActive="active">
                    <a routerLink="productview">Product View</a>
                </li>
                <li class="float-start" *ngIf="role == 'ADMIN'">
                    <a routerLink="manage/product">Manage Product</a>
                </li>
                <li class="float-start" *ngIf="islogin()">
                    <a routerLink="cart/show">Cart</a>
                </li>
                <li class="float-end" *ngIf="!islogin()">
                    <a routerLink="login">Login</a>
                </li>
                <li class="float-end" *ngIf="!islogin()" >
                    <a target="_self" routerLink="signup">Sign Up</a>
                </li>
                <li class="float-end" *ngIf="islogin()">
                    <a target="_self" routerLink="logout" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div  id="sidemenu" class="card col-md-3 border-0">
            <h4 class="card-header">
                Categories
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let category of categories">
                    <app-category [categories]="category"></app-category>
                </li>
            </ul>
        </div>
        <div class="col-md-1 d-flex mt-2" style="height: 200px;">
            <div class="vr"></div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
