<div class="container-fluid mt-3">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand ms-5" href="">FoodBox</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav mb-2 mb-lg-0">
                <a class=" nav-item nav-link" routerLink="productview">Product View</a>
                <a class=" nav-item nav-link" *ngIf="islogin() && role==='ADMIN'"  routerLink="manage/product">Manage Product</a>
            </div>
            <div class="navbar-nav ms-auto me-5">
                <a class="nav-item nav-link position-relative mx-3 p-0" role="button" *ngIf="islogin() && role === 'CUSTOMER'" routerLink="cart/show"><i class="bi bi-cart3 text-warning" style="font-size: 28px;"></i><span class="position-absolute cart bg-opacity-50 badge rounded-pill bg-warning text-light" *ngIf="cartCount != 0" @cartTrigger [@cartCounter]="cartCount>0? 'increase': 'decrease'" >{{cartCount}}</span></a>
                <a class="nav-item nav-link" *ngIf="!islogin()" routerLink="signup">Sign Up</a>
                <!-- <a class="nav-item nav-link" *ngIf="!islogin()" routerLink="login">Login</a> -->
                <div class="nav-item dropdown" *ngIf="islogin()">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{user.name|titlecase}}</a>
                    <div class="dropdown-menu bg-warning">
                        <a class="dropdown-item" routerLink="logout" (click)="logout()">Logout</a>
                        <a class="dropdown-item" routerLink="checkout">Purchases</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row mt-5 mb-0">
        <div class="col-sm-3 bg-dark">
            <div class="row ms-2 mt-5 position-fixed">
                <div class="card scrollColor bg-dark border-0 overflow-auto" style="width: 300px;">
                    <div class="card-body" style="max-width: 300px; max-height: 350px;">
                        <ul class="list-group list-group-flush" [@slideRight]="catagories.length" >
                            <li class=" bg-warning list-group-item" *ngFor="let catagory of catagories">
                                <app-category [categories]="catagory"></app-category>
                            </li>
                        </ul>
                    </div>
                </div>               
            </div>
            <div class="row position-fixed ms-3 bottom-0" *ngIf="!islogin()" @fadeEffect>
                <app-login></app-login>
            </div>
        </div>
        <!-- <div class="col-sm-1">
            <div class="d-flex mt-5 vh-100 position-fixed">
                <div class="vr"></div>
            </div>
        </div> -->
        <div class="col-sm-9">
            <app-carousel></app-carousel>
            <div class="row ms-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
