<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand ms-5" href="">FoodBox</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav mb-2 mb-lg-0">
                <a class=" nav-item nav-link" routerLink="productview">Product View</a>
                <a class=" nav-item nav-link" *ngIf="role == 'ADMIN'" routerLink="manage/product">Manage Product</a>
            </div>
            <div class="navbar-nav ms-auto me-5">
                <a class="nav-item nav-link position-relative mx-3" role="button" *ngIf="islogin()" routerLink="cart/show">Cart <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" *ngIf="cartCount != 0">{{cartCount}}</span></a>
                <a class="nav-item nav-link" *ngIf="!islogin()" routerLink="signup">Sign Up</a>
                <a class="nav-item nav-link" *ngIf="!islogin()" routerLink="login">Login</a>
                <div class="nav-item dropdown" *ngIf="islogin()">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{user.name|titlecase}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="logout" (click)="logout()">Logout</a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row mt-5">
        <div  id="sidemenu" class="card col-md-3 border-0">
            <h4 class="card-header">
                Categories
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let category of categories">
                    <app-category [categories]="category"></app-category>
                </li>
            </ul>
        </div>
        <div class="col-sm-1 d-flex mt-5" style="height: 500px;">
            <div class="vr"></div>
        </div>
        <div class="col-md-8">
            <app-carousel></app-carousel>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
