<div class="container-fluid mt-3">
    <h3>Available Products</h3>
    <div class="clearfix">
        <button class="btn btn-warning btn-md" (click)="addItem()">
            Add Items
        </button>
        <div class="float-end">
            <label for="searchItem">
                Search Item: &nbsp;
            </label>
            <input class="text" type="text" placeholer="Search Items" [(ngModel)]="search">
        </div>
    </div>
    <div class="table-responsive-sm mt-2">
        <table class="table table-bordered align-middle">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <!-- <th scope="col">Category</th> -->
                    <th scope="col">Qty.Avail</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Disabled</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let i = index; let item of items | filter: search">
                    <td scope="row">{{item.id}}</td>
                    <td><img class="img-thumbnail rounded-circle w-50" src="../../../assets/images/{{item.image}}" alt=""></td>
                    <td>{{item.itemName}}</td>
                    <!-- <td>{{item.categoryName}}</td> -->
                    <td>{{item.availableQty}}</td>
                    <td>{{item.price | currency: 'INR'}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input id="{{item.id}}" class="form-check-input" type="checkbox"         name="disabled" value="yes" [checked]="item.disabled" (change)="disableItem($event , i)">
                        </div>
                    </td>
                    <td><button 
                        class="btn btn-primary"
                        data-bs-toggle="model"
                        data-bs-target="#editform">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- edit Model form -->
    <div class="model fade" id="editform">
        <div class="model-dialog">
            <div class="model-content">
                <!-- header -->
                <div class="model-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- body -->
                <div class="model-body"></div>
                <!-- footer -->
                <div class="model-footer"></div>
            </div>
        </div>
    </div>
</div>