<div class="container-fluid mt-3">
    <div class="clearfix">
        <div class="float-end">
            <input
              type="text"
              class="text"
              name="txtsrch"
              placeholder="Search items here..."
              [(ngModel)]="textSearch"
            />
        </div>
    </div>
    <div class="row mb-0 mt-5">
        <div class="card ms-1 mt-1" style="width: 16rem;" *ngFor="let ci of categoryItems | filter: textSearch">
            <img style="width: 150px; height:150px;" src="../../../assets/images/{{ci.image}}" class="card-img-top w-100 img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ci.itemName}}</h5>
                <p class="card-text">Available Quantity : {{ci.availableQty}}</p>
                <p class="card-text">{{ci.itemDescription}}</p>
                <button id="{{ci.id}}" class="btn btn-warning" (click)="addToCart($event)">Add to Cart</button>
            </div>
        </div>
    </div>
</div> 
