<div class="container mt-3">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <div class="alert alert-info alert-dismissible" *ngIf="errorMsg != ''">
        {{errorMsg}}
      </div>
      <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="bi bi-person"></i></span>
          </div>
          <input
            formControlName="name"
            class="form-control"
            placeholder="Full name"
            type="text"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="bi bi-envelope"></i>
            </span>
          </div>
          <input
            formControlName="email"
            class="form-control"
            placeholder="Email address"
            type="email"
          />
        </div>
        <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="bi bi-lock-fill"></i> </span>
          </div>
          <input
            formControlName="password"
            class="form-control"
            placeholder="Create password"
            type="password"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group mt-1">
          <button type="submit" class="btn btn-primary btn-block">
            Create Account
          </button>
        </div>
        <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="../login">Log In</a></p>
      </form>
    </article>
  </div>
    <!-- card.// -->
</div>
